# Define the Kafka broker address
broker_address = 'localhost:9092'

# Create an AdminClient instance
admin_client = AdminClient({'bootstrap.servers': broker_address})

# Kafka configuration for the consumer
consumer_config = {
    'bootstrap.servers': 'localhost',
    'group.id': 'consumer_group',
    'auto.offset.reset': 'earliest'
    }

producer_config = {
    'bootstrap.servers': 'localhost',
}